



body header h1 {
    margin: unset;
}

#slogan {
    font-size: large;
}

nav {
    text-align: center; 
    margin-top: 15px;
}

nav button {
    border-radius: 20px;
    background-color: #3498DB;   
}

nav a {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}